<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hackout</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./static/css/style_open.css">

</head>
<body>
<video autoplay playsinline muted loop class="background-clip">
  <source src="./static/images/opening_bg.mp4" type="video/mp4">
</video>
<a href="{{ url_for('read_more_func') }}">
<div class="card">
  <div class="fold"></div>
  <div class="fold"></div>
  <div class="fold"></div>
  <div class="fold"></div>
  <div class="fold"></div>
</div></a>
<!-- partial -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  document.body.classList.add('fade-out');
});

window.addEventListener('beforeunload', function() {
  document.body.style.opacity = 0;
});

window.addEventListener('load', function() {
  document.body.style.opacity = 1;
});

  </script>
</body>
</html>
